<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-brand nav-active">
        <ul>
            @if(!User.Identity.IsAuthenticated)
            {
                <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                <li><a asp-controller="Account" asp-action="Login">Login</a></li> 
            }
            else
            {
                <li><span>Email : @User.Identity.Name</span></li>
                <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
            }
        </ul>
    </nav>
    <hr />
    <div>
        @RenderBody()
    </div>
</body>
</html>
