@model LoginDTO

@{
	ViewBag.Title = "Login";
}

<form asp-action="Login" method="post">
	<div>
		<label for="UserName">Username</label>
		<input asp-for="Email"/>
		<span asp-validation-for="Email"></span>
	</div>
	
	<div>
		<label for="Password">Password</label>
		<input asp-for="Password" />
		<span asp-validation-for="Password"></span>
	</div>
	
	<div>
		<button type="submit">Login</button>
	</div>

</form>