@model AttendanceAddRequest

@{
	ViewBag.Title = "Check In";
	var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h2>Check In : @DateTime.Now</h2>

<form asp-action="CheckIn" method="post">
	<input type="hidden" value="@userId" asp-for="UserId" />

	<button type="submit">Check In</button>
</form>